body {
    font-family: 'Press Start 2P', cursive;
    background-image: url("bg.jpg");
    background-position: top;
}

a {
    color:#4F7C5A;
    float: none;
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
}

.navbar {
    padding: 0%;
    width: 100%;
    height: 30px;
    text-align: center;
    background-color: black;
}

.navbar :hover {
    color: white;
    font-size: 16px;
}
.ficha {
    color:#2e6d40;
    margin-top: 12%;
    margin-left: 5%; 
    border: double 5px;
    border-color: #2e6d40;
    opacity: 0.7;
}

.glitch {
    position: relative;
}

@keyframes noise-anim {
    0% {
        clip: rect(88px, 9999px, 95px, 0);
    }

    5% {
        clip: rect(45px, 9999px, 97px, 0);
    }

    10% {
        clip: rect(76px, 9999px, 60px, 0);
    }

    15% {
        clip: rect(53px, 9999px, 70px, 0);
    }

    20% {
        clip: rect(82px, 9999px, 34px, 0);
    }

    25% {
        clip: rect(27px, 9999px, 5px, 0);
    }

    30% {
        clip: rect(79px, 9999px, 97px, 0);
    }

    35% {
        clip: rect(88px, 9999px, 4px, 0);
    }

    40% {
        clip: rect(1px, 9999px, 37px, 0);
    }

    45% {
        clip: rect(58px, 9999px, 31px, 0);
    }

    50% {
        clip: rect(69px, 9999px, 50px, 0);
    }

    55% {
        clip: rect(100px, 9999px, 97px, 0);
    }

    60% {
        clip: rect(72px, 9999px, 45px, 0);
    }

    65% {
        clip: rect(44px, 9999px, 56px, 0);
    }

    70% {
        clip: rect(3px, 9999px, 59px, 0);
    }

    75% {
        clip: rect(27px, 9999px, 32px, 0);
    }

    80% {
        clip: rect(46px, 9999px, 12px, 0);
    }

    85% {
        clip: rect(98px, 9999px, 48px, 0);
    }

    90% {
        clip: rect(42px, 9999px, 41px, 0);
    }

    95% {
        clip: rect(61px, 9999px, 70px, 0);
    }

    100% {
        clip: rect(48px, 9999px, 16px, 0);
    }
}

.glitch:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 rgb(220, 35, 118);
    top: 0;
    color: #2e6d40;
    background: rgb(15, 44, 24);
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
    0% {
        clip: rect(7px, 9999px, 81px, 0);
    }

    5% {
        clip: rect(89px, 9999px, 81px, 0);
    }

    10% {
        clip: rect(49px, 9999px, 12px, 0);
    }

    15% {
        clip: rect(24px, 9999px, 48px, 0);
    }

    20% {
        clip: rect(36px, 9999px, 91px, 0);
    }

    25% {
        clip: rect(2px, 9999px, 70px, 0);
    }

    30% {
        clip: rect(33px, 9999px, 38px, 0);
    }

    35% {
        clip: rect(19px, 9999px, 43px, 0);
    }

    40% {
        clip: rect(21px, 9999px, 10px, 0);
    }

    45% {
        clip: rect(15px, 9999px, 54px, 0);
    }

    50% {
        clip: rect(7px, 9999px, 56px, 0);
    }

    55% {
        clip: rect(94px, 9999px, 40px, 0);
    }

    60% {
        clip: rect(20px, 9999px, 46px, 0);
    }

    65% {
        clip: rect(86px, 9999px, 100px, 0);
    }

    70% {
        clip: rect(11px, 9999px, 92px, 0);
    }

    75% {
        clip: rect(23px, 9999px, 68px, 0);
    }

    80% {
        clip: rect(23px, 9999px, 98px, 0);
    }

    85% {
        clip: rect(2px, 9999px, 40px, 0);
    }

    90% {
        clip: rect(85px, 9999px, 39px, 0);
    }

    95% {
        clip: rect(67px, 9999px, 11px, 0);
    }

    100% {
        clip: rect(39px, 9999px, 13px, 0);
    }
}

.glitch:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 rgb(223, 215, 32);
    top: 0;
    color: #479652;
    background: black;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
}