body {
    font-family: 'Press Start 2P', cursive;
    background-image: url("bg.jpg");
    background-position: top;
}

a {
    color:#4F7C5A;
    float: none;
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
}

.navbar {
    padding: 0%;
    width: 100%;
    height: 30px;
    text-align: center;
    background-color: black;
}

.navbar :hover {
    color: white;
    font-size: 16px;
}
.ficha {
    color:#2e6d40;
    margin-top: 12%;
    margin-left: 5%; 
    border: double 5px;
    border-color: #2e6d40;
    opacity: 0.7;
}